img {
    max-width:100%;
    max-height:100%;
}

.img-wrapper {
    border-radius: 50%;
    overflow: hidden;
}

/* TODO: a smooth screen wide banner of flowing colored lines*/
#banner {
    /*background-image: url("icon.png");
    background-size: contain;
    background-repeat: no-repeat;*/
}
#banner_image {
    -webkit-mask-box-image: -webkit-linear-gradient(left, black, transparent);
}

#interesting {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2d3e50+78,2d3e50+100&amp;0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(45,62,80,0.78) 78%, rgba(45,62,80,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(78%,rgba(45,62,80,0.78)), color-stop(100%,rgba(45,62,80,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(45,62,80,0.78) 78%,rgba(45,62,80,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(45,62,80,0.78) 78%,rgba(45,62,80,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(45,62,80,0.78) 78%,rgba(45,62,80,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(45,62,80,0.78) 78%,rgba(45,62,80,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2d3e50',GradientType=1 ); /* IE6-9 */
}



@-webkit-keyframes rotate {   
to {
        -webkit-transform: rotate(1turn);
    }
}

@-moz-keyframes rotate {   
to {
        -moz-transform: rotate(1turn);
    }
}

@keyframes rotate {   
to {
        transform: rotate(1turn);
    }
}

.img-wrapper {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-play-state: paused;
    -moz-animation-name: rotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-play-state: paused;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

/* TODO: fixed size */
.custom-restricted {
    height: 160px;      
    width: 150px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    display: none;
}